<div id="main" class="row">
  <header>
    <a type="button" (click)="goToPreviousPage()">Voltar</a>
  </header>
	<div id="logo">
    <img src="../../assets/images/logo_boa2.png" alt="">
		<h5 class="txt">Painel Administrativo</h5>
	</div>
	<div id="btns">
		<a class="btn" [routerLink]="['/estoque']" routerLinkActive="router-link-active" >Adicionar/Remover Item</a>
    <br>
    <a class="btn" [routerLink]="['/create-menu']" routerLinkActive="router-link-active" >Montar/Fechar cardápio</a>
    <br>
    <a class="btn" [routerLink]="['/relatorios']" routerLinkActive="router-link-active" >Gerar Relatório</a>
	</div>
</div>
