#main {
    background-color: #304f25;
    height: 100%;
    text-align: center;
    /* display: grid; */
    border: 0.1px solid #304f25;
}

#header {
    height: 50%;
}

#btns {
    height: 50%;
}

.btn {
    width: 60%;
    margin: 20px;
    vertical-align: center;
    font-size: 88%;
    font-weight: bold;
}

.txt {
    color: white;
}