<div id="main" class="row">
  <header>
    <i type="button" (click)="goToPreviousPage()" class="material-icons back">arrow_back_ios</i>
    <a class="logout" (click)="logout()" type="button">Logout</a>
  </header>
	<div id="logo">
    <img src="../../assets/images/logo_boa2.png" alt="">
		<h5 class="txt">Painel Administrativo</h5>
	</div>
	<div id="btns">
    <a class="btn" (click)="printOrders()">Imprimir Pedidos</a>
    <br>
		<a class="btn" [routerLink]="['/estoque']" routerLinkActive="router-link-active">Adicionar/Remover Item</a>
    <br>
    <a class="btn" [routerLink]="['/montar-cardapio']" routerLinkActive="router-link-active">Montar/Fechar cardápio</a>
    <br>
    <a class="btn" [routerLink]="['/relatorios']" routerLinkActive="router-link-active">Gerar Relatório</a>
	</div>
</div>
