<h1>Dados Pessoais</h1>
<h5>Atualize suas informações para podermos prestar <br> o seu atendimento da melhor forma!</h5>

<form [formGroup]="formularioDeUsuario" (ngSubmit)="enviarDados()">
    <div>
        <input type="text" placeholder="Nome de usuário" formControlName="nomeUsuario">
        <div *ngIf="!nome.pristine && nome.errors">
            <p *ngIf="nome.errors.required">
                Nome é obrigatório.
            </p>
            <p *ngIf="nome.errors.minlength">
                Nome deve ter no mínimo 3 caracters.
            </p>
            <p *ngIf="nome.errors.maxlength">
                Nome deve ter no máximo 100 caracters.
            </p>
        </div>
    </div>
    
    <br>
    <div>
        <input type="text" placeholder="Telefone com DDD" formControlName="telefone"
        ng-pattern="^\(?\d{2}\)?[\s-]?[\s9]?\d{4}-?\d{4}$">
    </div>

    <p>
        <button routerLink="/menu" [disabled]="!formularioDeUsuario.valid">Confirmar</button>
    </p>
</form>