<div id="header" class="row">
    <h1>Fulano de Sal</h1>
  </div>
  
  <div id="form" class="row">
    <h5>Dados Pessoais</h5>
    <h5>Atualize suas informações para podermos prestar <br> o seu atendimento da melhor forma!</h5>
    
    <form id="dataForm" class="col s6 offset-s3">
      <div class="row">
        <input type="text" placeholder="Nome de usuário">
      </div>
      <div class="row">
        <input type="text" placeholder="Telefone com DDD">
      </div> 
      <p>
        <button class="btn" routerLink="/menu">Confirmar</button>
      </p>
    </form>
  </div>
  
  
  