#main {
  background-color: #304f25;
  height: 100%;
  text-align: center;
  /* display: grid; */
  border: 0.1px solid #304f25;
  margin: unset;
}
@media (min-width: 728px) {
  img {
    width: 60%;
    margin-top: 20px;
  }
  h5 {
    margin: 30px;
  }
}

@media (max-width: 728px) {
  img {
    width: 90%;
    margin-top: 30px;
  }
}

header {
  text-align: left;
}

a {
  color: white;
  cursor: pointer;
}

#logo {
  height: 60%;
}

.btn {
  width: 300px;
  margin: 20px;
  vertical-align: center;
}

.txt {
  color: white;
}
