<mat-card id="logo_with_image">
  <h1>FULANO DE SAL<br>
    BEM VINDO!
  </h1>
<!-- </mat-card> -->

<!-- <mat-card id="login_buttons"> -->
  <div id="loginView">
    <div>
      <button class="btn" id="fb" mat-raised-button>
        Login com o Facebook
      </button>
    </div>
    <div>
      <button class="btn" id="google" mat-raised-button>
        Login com o Google
      </button>
    </div>
    <div>
      <button class="btn" id="adm" mat-raised-button>
        Login como Administrador
      </button>
    </div>
  </div>
</mat-card>

<!-- <mat-grid-list cols="1" rowHeight="4:1">
  <mat-grid-tile id="logo_with_image">
    <h1>FULANO DE SAL<br>
      BEM VINDO!
    </h1>
  </mat-grid-tile>
  <mat-grid-tile id="login_buttons">
    <div id="loginView">
      <div>
        <button class="btn" id="fb" mat-raised-button>
          Login com o Facebook
        </button>
      </div>
      <div>
        <button class="btn" id="google" mat-raised-button>
          Login com o Google
        </button>
      </div>
      <div>
        <button class="btn" id="adm" mat-raised-button>
          Login como Administrador
        </button>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list> -->

<!-- <mat-grid-list [cols]="1" rowHeight="4:1" (window:resize)="onResize($event)">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  <mat-grid-tile>5</mat-grid-tile>
  <mat-grid-tile>6</mat-grid-tile>
</mat-grid-list> -->
