<div id="main" class="row">
  <header>
    <a type="button" (click)="goToPreviousPage()">Voltar</a>
  </header>
  <div id="logo">
    <img src="../../../assets/images/logo_boa2.png" alt="">
	</div>
	<div id="list">
    <h5>Relatório diário</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="txt">Itens</th>
          <th scope="col" class="txt">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of relatorio">
            <!-- *ngIf="item.nome !== 'UFCG' && item.nome !== 'UEPB' && item.nome !== 'UFCG-CCBS'"
            esse pedaço de código excluir do relatório renderizado, as localidades-->
          <td class="txt">{{item.nome}}</td>
          <td class="txt">{{item.quantidade}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
