<div id="main" class="row">
  <header>
    <i type="button" (click)="goToPreviousPage()" class="material-icons back">arrow_back_ios</i>
    <a class="logout" (click)="logout()" type="button">Logout</a>
  </header>
  <div id="logo" class="row">
    <img src="../../../assets/images/logo_boa2.png" alt="">
  </div>

  <div id="menu" class="row">
    <h5>Itens cadastrados (Estoque)</h5>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let categoria of categorias; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title >{{categoria.nome}}</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li id="opcao" *ngFor="let opcao of categoria.opcoes">
            <span>{{opcao.name}}</span>
            <span id="button">
              <mat-icon (click)="deleteItem(categoria.nome, opcao.name)" id="deleteBtn" type="button">delete</mat-icon>
            </span>
          </li>
        </ul>
        <span id="inputs">
          <input matInput class="novoItem" [(ngModel)]="itemPorCategoria[i].nomeItem" type="text" placeholder="{{categoria.nome}}">
          <input matInput class="novoItem" [(ngModel)]="itemPorCategoria[6].preco" *ngIf="categoria.nome === 'Bebidas'" placeholder="Preço R$">
          <input matInput class="novoItem" [(ngModel)]="itemPorCategoria[7].preco" *ngIf="categoria.nome === 'Sobremesas'" placeholder="Preço R$">
        </span>
        <button (click)="addItem(i)" class="btn" type="button">Adicionar</button>
        <!-- <p *ngIf="menu[i].opcoes[i]">{{itensSelecionados[i].opcoes[0].name}}</p> -->
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
