<mat-toolbar>
  <h1>Estoque</h1>
</mat-toolbar>
  
<div>
  <div fxFlex>
    <mat-list>
      <h3 mat-subheader>Feijão</h3>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field>
          <input matInput placeholder="Adicionar feijão" value="feijao" [(ngModel)]="feijao.name">
        </mat-form-field>
        <span fxFlex></span>
        <button color="primary" mat-raised-button (click)="saveFeijao(feijao)">Adicionar</button>
      </div>
      <mat-list-item *ngFor="let feijao of tiposFeijao">
        <h4 mat-line>{{feijao.desc}}</h4>
        <button color="primary" mat-icon-button (click)="deleteFeijao(feijao)">
      </div>
      <mat-list-item *ngFor="let feijao of tiposFeijao">
        <h4 mat-line>{{feijao.name}}</h4>
        <button mat-icon-button (click)="deleteFeijao(feijao)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<mat-divider></mat-divider>

<div class="content" fxLayout="column">
  <div fxFlex>
    <mat-list>
      <h3 mat-subheader>Arroz</h3>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field>
          <input matInput placeholder="Adicionar arroz" value="arroz" [(ngModel)]="arroz.name">
        </mat-form-field>
        <span fxFlex></span>
        <button color="primary" mat-raised-button (click)="saveArroz(arroz)">Adicionar</button> <!--para conseguir escrever so save1(todo1)-->
      </div>
      <mat-list-item *ngFor="let arroz of tiposArroz">
        <h4 mat-line>{{arroz.desc}}</h4>
        <button color="primary" mat-icon-button (click)="deleteArroz(arroz)">  <!--aqui coloca o todo1--> 
      </div>
      <mat-list-item *ngFor="let arroz of tiposArroz">
        <h4 mat-line>{{arroz.name}}</h4>
        <button mat-icon-button (click)="deleteArroz(arroz)">  
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<mat-divider></mat-divider>
  
<div class="content" fxLayout="column">
  <div fxFlex>
    <mat-list>
      <h3 mat-subheader>Macarrão</h3>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field>
          <input matInput placeholder="Adicionar macarrão" value="macarrao" [(ngModel)]="macarrao.name">
        </mat-form-field>
        <span fxFlex></span>
        <button color="primary" mat-raised-button (click)="saveMacarrao(macarrao)">Adicionar</button> <!--para conseguir escrever so save1(todo1)-->
      </div>
      <mat-list-item *ngFor="let macarrao of tiposMacarrao">
        <h4 mat-line>{{macarrao.desc}}</h4>
        <button color="primary" mat-icon-button (click)="deleteMacarrao(macarrao)">  <!--aqui coloca o todo1--> 
      </div>
      <mat-list-item *ngFor="let macarrao of tiposMacarrao">
        <h4 mat-line>{{macarrao.name}}</h4>
        <button mat-icon-button (click)="deleteMacarrao(macarrao)"> 
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<mat-divider></mat-divider>

<div class="content" fxLayout="column">
  <div fxFlex>
    <mat-list>
      <h3 mat-subheader>Carne</h3>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field>
          <input matInput placeholder="Adicionar carne" value="carne" [(ngModel)]="carne.name">
        </mat-form-field>
        <span fxFlex></span>

        <button color="primary" mat-raised-button (click)="saveCarne(carne)">Adicionar</button> <!--para conseguir escrever so save1(todo1)-->
      </div>
      <mat-list-item *ngFor="let carne of tiposCarne">
        <h4 mat-line>{{carne.desc}}</h4>
        <button color="primary" mat-icon-button (click)="deleteCarne(carne)">  <!--aqui coloca o todo1-->
      </div>
      <mat-list-item *ngFor="let carne of tiposCarne">
        <h4 mat-line>{{carne.name}}</h4>
        <button mat-icon-button (click)="deleteCarne(carne)"> 

          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<mat-divider></mat-divider>

<div class="content" fxLayout="column">
  <div fxFlex>
    <mat-list>
      <h3 mat-subheader>Acompanhamentos</h3>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field>
          <input matInput placeholder="Adicionar acompanhamento" value="acompanhamento" [(ngModel)]="acompanhamento.name">
        </mat-form-field>
        <span fxFlex></span>

        <button color="primary" mat-raised-button (click)="saveAcompanhamento(acompanhamento)">Adicionar</button> <!--para conseguir escrever so save1(todo1)-->
      </div>
      <mat-list-item *ngFor="let acompanhamento of tiposAcompanhamento">
        <h4 mat-line>{{acompanhamento.desc}}</h4>
        <button color="primary" mat-icon-button (click)="deleteAcompanhamento(acompanhamento)">  <!--aqui coloca o todo1-->
      </div>
      <mat-list-item *ngFor="let acompanhamento of tiposAcompanhamento">
        <h4 mat-line>{{acompanhamento.name}}</h4>
        <button mat-icon-button (click)="deleteAcompanhamento(acompanhamento)"> 

          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<mat-divider></mat-divider>

<div class="content" fxLayout="column">
  <div fxFlex>
    <mat-list>
      <h3 mat-subheader>Saladas</h3>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field>
          <input matInput placeholder="Adicionar salada" value="salada" [(ngModel)]="salada.name">
        </mat-form-field>
        <span fxFlex></span>

        <button color="primary" mat-raised-button (click)="saveSalada(salada)">Adicionar</button> <!--para conseguir escrever so save1(todo1)-->
      </div>
      <mat-list-item *ngFor="let salada of tiposSalada">
        <h4 mat-line>{{salada.desc}}</h4>
        <button color="primary" mat-icon-button (click)="deleteSalada(salada)">  <!--aqui coloca o todo1-->         
      </div>
      <mat-list-item *ngFor="let salada of tiposSalada">
        <h4 mat-line>{{salada.name}}</h4>
        <button mat-icon-button (click)="deleteSalada(salada)"> 

          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<mat-divider></mat-divider>

<div class="content" fxLayout="column">
  <div fxFlex>
    <mat-list>
      <h3 mat-subheader>Local de entrega</h3>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field>
          <input matInput placeholder="Adicionar Local de Entrega" value="entrega" [(ngModel)]="entrega.name">
        </mat-form-field>
        <span fxFlex></span>

        <button color="primary" mat-raised-button (click)="saveEntrega(entrega)">Adicionar</button>
      </div>
      <mat-list-item *ngFor="let entrega of locaisEntrega">
        <h4 mat-line>{{entrega.desc}}</h4>
        <button color="primary" mat-icon-button (click)="deleteEntrega(entrega)">
      </div>
      <mat-list-item *ngFor="let entrega of locaisEntrega">
        <h4 mat-line>{{entrega.name}}</h4>
        <button mat-icon-button (click)="deleteEntrega(entrega)">  

          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>  
</div>

<mat-divider></mat-divider>

<div class="content" fxLayout="column">
    <div fxFlex>
      <mat-list>
        <h3 mat-subheader>Bebidas</h3>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field>
            <input matInput placeholder="Nome" value="nameBebida" [(ngModel)]="bebida.name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Preço" value="priceBebida" [(ngModel)]="bebida.price">
          </mat-form-field>
          <span fxFlex></span>

          <button color="primary" mat-raised-button (click)="saveBebida(bebida,name,price)">Adicionar</button> <!--para conseguir escrever so save1(todo1)-->

          <button mat-button (click)="saveBebida(bebida,name,price)">Adicionar</button> 

        </div>
        <mat-list-item *ngFor="let bebida of tiposBebida">
          <h4 mat-line>{{bebida.name}}</h4>
          <h4 mat-line>{{bebida.price}}</h4>

          <button color="primary" mat-icon-button (click)="deleteBebida(bebida)">  <!--aqui coloca o todo1-->

            

            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  
  <mat-divider></mat-divider>

  <div class="content" fxLayout="column">
      <div fxFlex>
        <mat-list>
          <h3 mat-subheader>Sobremesas</h3>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field>
              <input matInput placeholder="Nome" value="nameSobremesa" [(ngModel)]="sobremesa.name">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Preço" value="priceSobremesa" [(ngModel)]="sobremesa.price">
            </mat-form-field>
            <span fxFlex></span>

            <button color="primary" mat-raised-button (click)="saveSobremesa(sobremesa,name,price)">Adicionar</button> <!--para conseguir escrever so save1(todo1)-->

            

          </div>
          <mat-list-item *ngFor="let sobremesa of tiposSobremesa">
            <h4 mat-line>{{sobremesa.name}}</h4>
            <h4 mat-line>{{sobremesa.price}}</h4>

            <button color="primary" mat-icon-button (click)="deleteSobremesa(sobremesa)">  <!--aqui coloca o todo1-->

            

              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    
    <mat-divider></mat-divider>