@import url('https://fonts.googleapis.com/css?family=Raleway');

h2, h5 {
  color: white;
}

img {
  width: 30%;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}
.content {
  padding: 5px;
}

#main {
  background-color: #304f25;
  text-align: center;
  height: 100%;
  margin: unset;
}

#menu {
  height: auto;
  text-align: center;
  background-color: #304f25;
  margin: unset;
}

#header {
  border: 0.1px solid #304f25;
  height: auto;
	background-color: #304f25;
	text-align: center;
	color: white;
}

.mat-expansion-panel {
	margin-top: 1px;
	margin-bottom: 1px;
  background-color: lightgray;
}

.mat-expansion-panel-header {
	background-color: lightgray;
  text-align: center;
}

.mat-expansion-panel-header-title {
	display: grid;
	color: black;
	font-size: 18px;
	/* font-weight: bold; */
}

#max {
	margin-right: 10px;
	margin-top: 7px;
	color: black;
}

.ng-star-inserted {
	font-weight: bold;
	color: black;
}

.btn {
	margin: 20px;
}
mat-form-field {
  margin-top: 5px;
}
.mat-input-element {
  color: white;
}

::ng-deep .mat-form-field-label {
  color: white !important;
}

::ng-deep .mat-focused {
  color: white !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline when focused*/
  background-color: white !important;;
 }

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: white !important;;
}
