<div id="header">
    <h1>Monte seu prato</h1>
</div>

<div id="main" class="row">
	<h2>Selecione os itens do Cardápio</h2>
	<h5>Total: R$ {{order.basePrice}}</h5>
	<mat-accordion *ngIf="menu.length">
		<mat-expansion-panel *ngFor="let secao of menu[0].menu; let i = index">
			<mat-expansion-panel-header>
				<mat-panel-title >{{secao.nome}}</mat-panel-title>
				<span id="max">Qtd. Máx: {{secao.maxChoices}}</span>
			</mat-expansion-panel-header>
			<mat-form-field>
				<mat-label>Selecione o(s) item(s)</mat-label>
				<mat-select (selectionChange)="validateSelectedOptions(i)" [(ngModel)]="order.orderItens[i].itens" multiple>
					<mat-option [value]="opcao" *ngFor="let opcao of secao.opcoes">{{opcao.name}} - R$ {{opcao.unitPrice}}</mat-option>
        </mat-select>
			</mat-form-field>
    </mat-expansion-panel>
      <textarea [(ngModel)]="order.comment" placeholder="Digite uma observação:"></textarea>
    </mat-accordion>
	<button (click)="onMakeOrder()" [disabled]="!pedidoValido" class="btn">Finalizar pedido</button>
</div>

