<div id="main" class="row">
  <div id="header" class="row">
      <img src="../../assets/images/logo.jpeg" alt="">
      <h4>Selecione os itens do Cardápio</h4>
      <h5>Total: R$ {{order.basePrice}}</h5>
  </div>

  <div id="menu" class="row">
    <mat-accordion *ngIf="menu.length">
      <mat-expansion-panel *ngFor="let secao of menu[0].menu; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title >{{secao.nome}}</mat-panel-title>
          <span id="max">Qtd. Máx: {{secao.maxChoices}}</span>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label>Selecione o(s) item(s)</mat-label>
          <mat-select (selectionChange)="validateSelectedOptions(i)" [(ngModel)]="order.orderItens[i].itens" multiple>
            <span *ngFor="let opcao of secao.opcoes">
              <mat-option *ngIf="opcao.unitPrice !== undefined" [value]="opcao">{{opcao.name}} - R$ {{opcao.unitPrice}}</mat-option>
              <mat-option *ngIf="opcao.unitPrice === undefined" [value]="opcao">{{opcao.name}}</mat-option>
            </span>
          </mat-select>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-form-field>
        <textarea matInput id="obs" [(ngModel)]="order.comment" placeholder="Digite uma observação:"></textarea>
      </mat-form-field>
      </mat-accordion><br>
    <button (click)="onMakeOrder()" [disabled]="!pedidoValido" class="btn">Finalizar pedido</button>
  </div>
</div>

