@import url('https://fonts.googleapis.com/css?family=Raleway');

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}
.content {
    padding: 5px;
}

#main {
    text-align: center;
}

#header {
	background-color: #304f25;
	text-align: center;
	color: white;
	border: 0.1px solid #304f25;
}
  
.mat-expansion-panel {
	margin-top: 20px;
	margin-bottom: 20px;
    background-color: #304f25;
}

.mat-expansion-panel-header {
	background-color: #304f25;
    text-align: center;
}

.mat-expansion-panel-header-title {
	display: grid;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

#max {
	margin-right: 10px;
	margin-top: 7px;
	color: white;
}

.ng-star-inserted {
	font-weight: bold;
	color: goldenrod;
}

.btn {
	margin: 10px;
}