@import url('https://fonts.googleapis.com/css?family=Raleway');

h2, h5 {
  color: white;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

header {
  text-align: start;
}

a {
  color: white;
  cursor: pointer;
}

.bt {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-self: center;
  width: 416px;
  color: white !important;
  font-weight: bold;
  font-size: 14px;
}

@media (min-width: 728px) {
  img {
    width: 40%;
    margin-top: 15px;
  }
  #menu {
    height: auto;
    text-align: center;
    background-color: #304f25;
    margin: unset;
    display: grid;
    justify-content: center;
  }
  .mat-expansion-panel {
    width: 416px;
  }
  #modal {
    display: grid;
    align-self: center;
    width: 414px;
    justify-self: center;
  }
}

@media (max-width: 728px) {
  img {
    width: 90%;
  }
  #menu {
    height: auto;
    background-color: #304f25;
    margin: unset;
    padding-right: 10px;
    padding-left: 10px;
  }
  .btn {
    width: 100%;
  }
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

#main {
  background-color: #304f25;
  text-align: center;
  height: 100%;
  margin: unset;
}

#logo {
  border: 0.1px solid #304f25;
  height: auto;
	background-color: #304f25;
	text-align: center;
	color: white;
}

.mat-expansion-panel {
	margin-top: 2px;
	margin-bottom: 2px;
  background-color: lightgray;
}

.mat-expansion-panel-header {
	background-color: lightgray;
  text-align: center;
}

.mat-expansion-panel-header-title {
	display: grid;
	color: black;
	font-size: 18px;
	/* font-weight: bold; */
}

#max {
	margin-right: 10px;
	margin-top: 7px;
	color: black;
}

.ng-star-inserted {
	font-weight: bold;
	color: black;
}

mat-form-field {
  margin-top: 5px;
}
.mat-input-element {
  color: white;
}

::ng-deep .mat-form-field-label {
  color: white !important;
}

::ng-deep .mat-focused {
  color: white !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline when focused*/
  background-color: white !important;;
 }

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: white !important;;
}

#modal {
  background-color: bisque;
  z-index: 1;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
}

.modalBtn {
  margin-top: 10px;
  margin-bottom: 10px;
}
