#header {
	background-color: #FF1655;
	border: 0.1px solid #FF1655;
	height: 25%;
	text-align: center !important;
}

#main {
	text-align: center !important;
}
 
h1 {
	color: white;
}

.mat-expansion-panel {
	margin-top: 20px;
	margin-bottom: 20px;    
}

.mat-expansion-panel-header {
	background-color: #FF1655;
}

.mat-expansion-panel-header-title {
	display: grid;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.mat-expansion-panel {
	background-color: #FF1655;
}

.ng-star-inserted {
	font-weight: bold;
}

.btn {
	margin: 10px;
}