#header {
	background-color: #FF1655;
	border: 0.1px solid #FF1655;
	height: 30%;
	text-align: center;
	margin: unset;
}

#main {
	text-align: center;
	margin: unset;
}
 
h1 {
	color: white;
}

.mat-expansion-panel {
	margin-top: 20px;
	margin-bottom: 20px;    
}

.mat-expansion-panel-header {
	background-color: #FF1655;
}

.mat-expansion-panel-header-title {
	display: grid;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.mat-expansion-panel {
	background-color: #FF1655;
}

.ng-star-inserted {
	font-weight: bold;
}

/* #items-form {
	margin-bottom: 20px;
	text-align: center; 
} */

/* #nomeCat {
	color: white;
	font-size: 20px;
	background-color: #FF1655;
	margin-bottom: 20px;
}

#content {
	margin-top: 10px;
}

.btn {
	margin: 20px;
}

.group {
	text-align: justify;
	margin-left: 45%; 
}

label {
	color: black;
}

#catbtn {
	color: white;
}

#catbtn {
	cursor: pointer;
}

.collapsible-header {
	background-color: #FF1655;
	display: grid;
	margin-bottom: 10px;
	font-size: 20px;
	color: white;
} */

