<div id="main" class="row">
  <header>
    <a (click)="goToPreviousPage()">Voltar</a>
  </header>
  <div class="container row">
    <img src="../../assets/images/logo_boa2.png" alt="">
    <h5>Login de Administrador</h5>
  </div>
  <div class="container row">
    <form class="col s6 offset-s3">
      <div class="row">
        <input type="text" id="email" placeholder="Email">
      </div>
      <div class="row">
        <input type="password" id="password" placeholder="Senha">
      </div>
      <p>
        <button class="btn" type="submit" (click)="signIn()">Login</button>
      </p>
    </form>
  </div>
</div>
