#main {
  background-color: #304f25;
  text-align: center;
  border: 0.1px solid #304f25;
  height: 100%;
  margin: unset;
}

.container {
  background-color: #304f25;
  width: 100%;
  margin-bottom: 0;
}

a {
  color: white;
  cursor: pointer;
}

header {
  text-align: start;
}

h5 {
  color: white;
}

@media (min-width: 728px) {
  img {
    width: 60%;
    margin-top: 20px;
  }
  h5 {
    margin-top: 30px;
  }
  #mobile {
    display: none;
  }
}

.btn {
  width: 100%;
}

@media (max-width: 728px) {
  img {
    width: 90%;
  }
  #web {
    display: none;
  }
  .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 320px) {
  #menu {
    height: auto;
    background-color: #304f25;
    margin: unset;
    padding-right: 10px;
    padding-left: 10px;
  }
  .btn {
    margin-top: -50px;
  }
}

.col {
  display: grid;
}

::ng-deep .mat-form-field-label {
  color: white !important;
}
::ng-deep .mat-form-field-underline {
  background-color: white !important;;
}
::ng-deep .mat-form-field-focused .mat-form-field-ripple {
  background-color: white !important;
}

::ng-deep .mat-form-field-underline {
  height: 0 !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  width: 0 !important;
}

input[type=email]:not(.browser-default) {
  height: 1.5rem;
}

input[type=password]:not(.browser-default) {
  height: 1.5rem;
}

.mat-input-element {
	color: white;
}

