#btns {
  justify-items: center;
  text-align: center;
}

#fb {
  margin-top: 70px;
}

@media (min-width: 728px) {
  img {
    width: 60%;
    margin-top: 20px;
  }
  #image {
    background: linear-gradient(to bottom, rgba(255,255,255,0.2), #1B2A2E ), url("/../assets/images/capaWeb.png");
  }
}

@media (max-width: 728px) {
  img {
    width: 90%;
    margin: 20px;
    border-bottom: 1px solid #1B2A3B;
  }
  #image {
    background: linear-gradient(to bottom, rgba(255,255,255,0.2), #1B2A2E ), url("/../assets/images/capaMob.png");
  }
  #fb {
    margin-top: 100px;
  }
}

#fb {
  background-color: darkblue;
  color: white;
}

#google {
  background-color: #FFFFFF;
  color: black;
}

#adm {
  background-color: #E1911A;
  color: white;
}

.btn {
  margin: 10px;
  width: 270px;
  border-radius: 20px;
}

h1 {
  padding-top: 220px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 30px;
}

#pulaLogin {
  margin-top: 15px;
}

#pulaLoginTxt {
  color: #FFFFFF;
  text-decoration: underline;
  font-weight: 500;
  letter-spacing: 1px;
}

#image {
  height: 100%;
  margin: unset;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#main {
  height: 100%;
}
