h1 {
  text-align: center;
  color: white;
}

.container {
  background-color: #304f25;
  width: 100%;
  margin-bottom: 0;
}

#logo {
  background-color: #304f25;
  border: 0.1px solid #304f25; /*sem essas bordas, o componente fica com margem*/
  margin: unset;
  text-align: center;
}

h5 {
  text-align: center;
  color: white;
  margin-top: 30px;
}

.row {
  margin-bottom: 0;
  text-align: center;
}

@media (min-width: 728px) {
  img {
    width: 50%;
    margin-top: 20px;
  }
  h5 {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  #mobile {
    display: none;
  }
  #web {
    display: grid;
  }
}

@media (max-width: 728px) {
  img {
    width: 90%;
  }
  #web {
    display: none;
  }
  #logo {
    height: 40%;
  }
  .row {
    background-color: #304f25;
    width: 100%;
  }
  .btn {
    margin-bottom: 20px;
  }
}

a {
  color: white;
  cursor: pointer;
}

#main {
  height: 100%;
  background-color: #304f25;
}

::ng-deep .mat-form-field-label {
  color: white !important;
  margin-top:5px;
}
::ng-deep .mat-form-field-underline {
  background-color: white !important;;
}
::ng-deep .mat-form-field-focused .mat-form-field-ripple {
  background-color: white !important;
}

::ng-deep .mat-form-field-underline {
  height: 0 !important;
  background-color: white !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  width: 0 !important;
  background-color: white !important;
}

input[type=text]:not(.browser-default) {
  height: 2rem;
}

.mat-input-element {
  color: white;
}

mat-error {
  font-size: 12px;
  margin-top: -0.05rem;
}

#username {
  margin-bottom: 10px;
}

#phone-number {
  margin-bottom: 10px;
}

.btn {
  text-transform: none;
  width: 100%;
}

p {
  text-align: center;
}
