<div id="header" class="row">
  <h1>Fulano de Sal</h1>
</div>

<div id="form" class="row">
  <h5>Atualize suas informações para podermos prestar <br> o seu atendimento da melhor forma!</h5>
  <div class="container row">
    <form class="col s6 offset-s3" (submit) ="updateUser()">
      <div class="row">
        <input id="username" type="text" placeholder="Nome de usuário">
      </div>
      <div class="row">
        <input id="phone-number" type="text" placeholder="Telefone com DDD">
      </div>
      <p>
        <button mat-raised-button color="primary" type="submit">Confirmar</button>
      </p>
    </form>
  </div>
</div>


