h1 {
  text-align: center;
  color: white;
}

@media (min-width: 728px) {
  img {
    width: 50%;
    margin-top: 20px;
  }
  h5 {
    margin: 30px;
  }
}

@media (max-width: 728px) {
  img {
    width: 90%;
    margin-top: 30px;
  }
}

h5 {
  text-align: center;
  color: white;
}

#header {
  background-color: #304f25;
  border: 0.1px solid #304f25; /*sem essas bordas, o componente fica com margem*/
  height: 50%;
  margin: unset;
  text-align: center;
}

#form {
  height: 50%;
  border: 0.1px solid #304f25;
  background-color: #304f25;
  margin: unset;
}

