#main {
    background-color: #FF1655;
    height: 100%;
    text-align: center;
    /* display: grid; */
    border: 1.0px solid #FF1655;
}

#header {
    height: 20%;
}

#list {
    height: 77%;
    background-color: #FF1655;
    text-align: center;
    top: 50px;
}

#table {
    background-color: #FF1655;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

.btn {
    width: 60%;
    margin: 20px;
    vertical-align: center;
}

.txt {
    color: white;
}