<div id="main" class="row">
  <header>
    <i type="button" (click)="goToPreviousPage()" class="material-icons back">arrow_back_ios</i>
    <a class="logout" (click)="logout()" type="button">Logout</a>
  </header>
  <div id="logo">
    <img src="../../../assets/images/logo_boa2.png" alt="">
	</div>
	<div id="list">
    <h5>Relatório Mensal</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="txt">Itens</th>
          <th scope="col" class="txt">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of relatorio">
          <td class="txt">{{item.nome}}</td>
          <td class="txt">{{item.quantidade}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
